/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*ESTILOS CSS*/

/*ESTILOS GENERALES*/
body{
	font-family: 'Lato', sans-serif;
	color: #4B4C4C;
}
.btn-sign-up{
	width: 100%;
	padding: 20px 40px;
	background-color: #ff00bf;
	border-radius: none;
	color: #FFF;
	font-size: 20px;
}
.sign-up-button{
	text-align: center;
	position: absolute;
    bottom: 30px;
    width: 100%;
}
.btn-sign-up:hover{
	color: #fff;
	background-color: #7200BF;
}
.sign-up-style{
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 10px;
	border-bottom: 1px solid #C3C2C2;
	margin-bottom: 10px;
}
.sign-up-style h1{
	font-size: 20px;
	margin-bottom: 10px;
}
.fa-angle-left{
	color: #4B4C4C;
	font-size: 20px;
	float: left;
}
.fa-angle-left:hover{
	color: #ff00bf;
}

/*HOME*/
#home{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
}
.header-logo{
	margin: 0 auto;
	text-align: center;
}
.header-logo img{
	width: 100px;
	margin-top: 50px;
}
.header-buttons{
	text-align: center;
	position: absolute;
    bottom: 30px;
    width: 100%;
}
.btn-log-in{
	padding: 12px 35px;
	background-color: transparent;
	border: 1.5px solid #fff;
	color: #fff;
	font-size: 20px;
	display: inline-block;
}
#signup{
	padding: 12px 35px;
	color: #fff;
	font-size: 20px;
	background: -webkit-linear-gradient(left, #7200BF , #ff00bf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #7200BF,  #ff00bf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7200BF,  #ff00bf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7200BF ,  #ff00bf); /* Standard syntax (must be last) */
    border: none;
    display: inline-block;
}
#signup:hover{
	background: transparent;
	border: 1.5px solid #ff00bf;
	color: #ff00bf;
}

.btn-log-in:hover{
	color: #ff00bf;
	border-color: none;
	background-color: #fff;
}

/*SIGN UP PHONE*/
.sign-up-phone p{
	text-align: center;
	margin-top: 15px;
}

/*SIGN UP USER*/
.sign-up-input{
	border-radius: 10px;
	margin-bottom: 10px;
}
.sign-up-form{
	padding: 50px 20px;
	text-align: center;
}
.fa-envelope-o, .fa-user-o{
	position: absolute;
	z-index: 1000;
	padding: 10px;
	color: #C3C2C2;
}
.form-control::placeholder{
	padding: 30px;
}
