/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*ESTILOS CSS*/

.sign-up-style i {
	font-size: 30px;
}

.t-signup{
	font-size: 22px;
	font-weight: 600;
	margin-top: 7px;
}

.s-signup{
	margin-top: 20px;
}

.input-group-addon {
	background-color: transparent;

}

.form-control {
	-webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-lg {
    margin-bottom: 15px;
}

.i-email {
	background-image: url(../docs/icon-email.png);
	background-size: 30px;
	background-position: 15px;
    background-repeat: no-repeat;
}

.i-user{
	background-image: url(../docs/icon-user.png);
	background-size: 30px;
	background-position: 15px;
    background-repeat: no-repeat;
}

hr {
    margin-bottom: 15px;
}

.container .line{
    padding-right: 0;
    padding-left: 0;
}

.checkbox {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-lg {
    border-radius: 0;
}

.ancho-12 {
	padding-right: 0; 
    padding-left: 0; 
}

.linea {
	background-color: #eee;
	width: 100%;
	height: 1px;
	margin: 10px 0;
}

.btn-primary {
	background-color: #f300b2;
    border-color: transparent;
}

label input{
	width: 20px;
	height: 20px;
}

label span{
	margin-left: 10px;
}

input[type=checkbox]{
	margin: 0;
}

.checkbox input[type=checkbox] {
	margin-top: -2px;
}

.text-danger-lyft {
	color: #f300b2;
	margin: 10px;
	display: block;
}